@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  caret-color: #b85042;
}

@media screen and (max-width: 640px) {
  body {
    background-color: #f2f5fb;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="checkbox"]:checked + label svg {
  display: block; /* Show the checkmark when the checkbox is checked */
}

input[type="checkbox"]:checked + label {
  background-color: #bd5d50;
}
